/* Types */

@@font-face {

}

/* Sizing Html */

html{
  box-sizing: border-box;
  background-color: #fff !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

/* Demo themes */
.demo-1 {
	--background-color: #fff;
	--background-color-2: #fff;
	--background-color-3: #fff;
	--text-color: #fff;
	--link-color: #fff;
	--link-hover-color: #fff;
}


/* Media Querys */

@media screen and (max-width: 50em) {


}

@media screen and (max-width: 40em) {

}

@media screen and (max-width: 36em) {

}

@media screen and (max-width: 36em) {

}

@media screen and (max-width: 28em) {

}
